.inicio{
    animation-duration: 1s;
    animation-name: transition;
}
/* uso de "position: initial;" para a animação centralizar, voltando a posição inicial */ 
@keyframes transition{
    from{
        margin-right:-800%;
    }
    to{
        position:initial;
    }
}
